n8n-michaucha-workflow.json
{
    "name": "Michaucha - Ingreso Inteligente de Gastos",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "michaucha-test",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook (Test)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                820,
                360
            ],
            "webhookId": "michaucha-test-webhook"
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "Eres un asistente financiero inteligente para la app \"Michaucha\".\nTu trabajo es extraer información de gastos de mensajes de texto informales.\n\nAnaliza el mensaje del usuario y extrae los siguientes datos en formato JSON estricto:\n\n- \"amount\": El monto del gasto (número entero, sin puntos ni signos de moneda). Si no encuentras monto, devuelve null.\n- \"description\": Una descripción breve y clara del gasto (ej: \"Almuerzo\", \"Uber a casa\").\n- \"category\": Clasifica el gasto en UNA de las siguientes categorías exactas:\n    - \"Comida\"\n    - \"Transporte\"\n    - \"Servicios\"\n    - \"Salud\"\n    - \"Ocio\"\n    - \"Supermercado\"\n    - \"Otros\"\n    (Si no encaja claro, usa \"Otros\" o inventa una categoría corta y lógica de 1 palabra).\n- \"paymentMethod\": Si el usuario menciona \"tarjeta\", \"visa\", \"débito\", asume \"VISA\" o \"DEBIT\". Si no dice nada, asume \"CASH\".\n- \"date\": Si el usuario dice \"ayer\", calcula la fecha ISO. Si no, usa null (el sistema usará hoy).\n\nEjemplo Respuesta JSON:\n{\n  \"amount\": 5000,\n  \"description\": \"Hamburguesa con papas\",\n  \"category\": \"Comida\",\n  \"paymentMethod\": \"CASH\",\n  \"date\": null\n}\n\nSolo responde con el JSON. Nada más."
                        },
                        {
                            "content": "={{ $json.body.message || $json.message || $json.text }}"
                        }
                    ]
                }
            },
            "id": "openai-node",
            "name": "ChatGPT - Extractor",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1040,
                360
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/api/webhooks/n8n",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-n8n-secret",
                            "value": "sk_michaucha_n8n_secure_access_key"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "amount",
                            "value": "={{ JSON.parse($json.content).amount }}"
                        },
                        {
                            "name": "description",
                            "value": "={{ JSON.parse($json.content).description }}"
                        },
                        {
                            "name": "category",
                            "value": "={{ JSON.parse($json.content).category }}"
                        },
                        {
                            "name": "paymentMethod",
                            "value": "={{ JSON.parse($json.content).paymentMethod }}"
                        },
                        {
                            "name": "date",
                            "value": "={{ JSON.parse($json.content).date }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http-request",
            "name": "Enviar a Michaucha",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1260,
                360
            ]
        },
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "telegram-trigger",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                820,
                560
            ],
            "webhookId": "telegram-webhook-id",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Webhook (Test)": {
            "main": [
                [
                    {
                        "node": "ChatGPT - Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "ChatGPT - Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ChatGPT - Extractor": {
            "main": [
                [
                    {
                        "node": "Enviar a Michaucha",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}